.header-content{
    background-color: rgb(233, 238, 247);
    width: 15%;
    float: left;
    height: 100vh;
    text-align: center;
    font-family: monospace;
    
     
}


.fotoPerfil{
    margin-top: 50px;
    width: 50%;
    border: 2px solid rgb(28, 172, 193);
}
.logoLink{
    width: 10%;
    margin-right: 5px;
    cursor: pointer;
}
.nome{
    margin-bottom: -10px;
    font-size: 30px;
    
}

.profissao{
    font-size: 12px;
}

.subtitulo{
    color: rgb(28, 172, 193);
    font-size: 20px;
    width: 70%;
    margin: auto;
    text-align: justify;
}.subtitulo:hover{
    zoom: 1.3;
    color: rgb(29, 113, 126);
    cursor: pointer;
}


.subtitulo-midiaSociais{
    color: rgb(28, 172, 193);
    font-size: 25px;
    border-bottom:   2px solid ;
    width: 50%;
    margin: auto;
}